rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    function isAdmin() {
      return request.auth != null && (
        request.auth.token.admin == true ||
        request.auth.token.email == "miguel@lifeplants.org"
      );
    }

    match /eventos/{eventId} {
      allow read: if isAdmin() || resource.data.active == true;
      allow create, update, delete: if isAdmin();
    }
  }
}
